body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.control-panel {
	position: absolute;
	z-index: 3;
	top: 0px;
	right: 0px;
}

.control-panel .prev {
	background-color: #FFBBAA;
	padding: 10px;
	float:right;
}

.control-panel .next {
	background-color: #FFBBAA;
	float:right;
	padding: 10px;
}

.slide {
	background-color: white;
	height: 100%;
	width: 100%;
	/* padding: 5px; */

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.slide-title {
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}

pre.code {
	border: 1px solid #AACCDD;
	background-color: #C8EAF8;
	margin-left: 15px;
	margin-right: 15px;
	padding: 3px;
}

/* Slide-Specific Properties
 * HTML Tags within slides get set here
 */
